
/*my style.css */

body {background:white;
	width: 800px;
	margin: 35px auto;
	padding-top: 30px;
	border-top:solid black 3px;
	border-bottom:solid black 3px;}

hr{
	border: none;
	border-top: solid gray 1px;
}

header nav {
	text-align: center;

}

h3 {font-family: Arial, sans-serif;	
	color: solid black;
	font-weight: bold; 
}

a{color: gray;
	font-weight: bold;
	font-family: Arial, sans-serif;	
}

footer a {
color:gray;
font-size: 20px;}

footer nav {
padding: 10px;
margin-top: 40px;
margin-bottom:50px;
padding-left: 70px;
}


h1 {font-family: Arial, sans-serif;
	text-align: center;
	font-size: 150%;
	padding-top: 5px;
	padding-bottom: 5px;
	color: solid 3px black;
	word-spacing: 5px}	

h2 {text-align: center;
	padding-top: 0px;
	padding-bottom: 20px;}

p {text-align: left;
	padding-bottom: 10px;
	padding-top: 20px;
	text-align: left;
	font-size: 20px;
}



img {float:right;
	margin-left: 5%;
	border: solid; 3px black; 
	border-width: 2px;
	padding: 10px; }


